PERSEUS_WORKERS=16  # Change if you want to change the max. number of processes (usually 2 per CPU core available)
FIRST_OWNER=<ADMIN_LDAP_USERNAME>
FRONTEND_URL=<HOST>  # Replace <HOST> with your host, i.e. https://perseus.pc2.uni-paderborn.de
PERSEUS_PATH_PREFIX=/api

MONGODB_URI=mongodb://mongodb:27017
MONGODB_DATABASE_NAME=<DATABASE_NAME>
MONGODB_DATABASE_GRID_FS_NAME=<FILE_DATABASE_NAME>

LDAP_BIND_USER_DN="<LDAP_BIND_USER>"
LDAP_BIND_PASSWORD="<LDAP_BIND_USER_PASSWORD>"
LDAP_SERVER_URI="<LDAP_SERVER_ADDRESS>"
LDAP_BASE_DN="<LDAP_BASE_DN>"
LDAP_USER_EMAIL_ATTRIBUTE="<LDAP_USER_EMAIL>"
LDAP_USER_FULL_NAME_ATTRIBUTE="<LDAP_USER_FULLNAME>"
LDAP_USER_GROUPS_ATTRIBUTE="<LDAP_USER_GROUP>"
LDAP_USER_FILTER="<LDAP_USER_FILTER>"
LDAP_ALLOWED_GROUPS="<LDAP_LOGIN_GROUP>"
LDAP_SSL_SKIP_VERIFY="False"

DEMO=1  # Leave this line if you want to start PERSEUS in demo mode, otherwise delete it
